# Chaves e Segredos (MUITO IMPORTANTE)
.env

# Ambientes Virtuais
venv/
env/
__pycache__/
*.pyc

# Logs do Bot
*.log
logs/

# Arquivos do Sistema
.DS_Store
Thumbs.db

# Arquivos de backtest
*.csv
*.txt
*.md
deploy.py
monitor_and_backtest.py
/data
backtest_optimized.py
backtest.py
download_90d_improved.py
download_90d_v2.py
download_btc_90d.py